/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 1, 2017, 4:11:52 PM
    Author     : fwoeger
*/

.text-field {
  -fx-control-inner-background: #DDFFDD;
}

.text-field:readonly {
  -fx-control-inner-background: #FFDDDD;
}
